/* CSS declarations go here */

/*

CM bright green is #92ce73
CM dark green is #187c83
CM background is #eff8e9

*/

html, body{
    margin:0;
    padding:0;
    background-color:white;
    font-family: 'Special Elite', cursive;
    font-size:1em;
    line-height:1em;
}

.container {
    width:1300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', cursive;
}

p {
    margin-bottom:15px;
}

hr {
    border:1px solid #187c83;
}

.jumbotron{
    background-color:#92ce73;
}

.doingbtn{
    margin-top:5px;
}
.processbtn{
    display:block;
    background-color:#92ce73;
    border-color:#187c83;
    margin-top:5px;
    text-align:left;
    padding-left:10px;
}
.processbtn:hover{
    background-color:#187c83;
}
.processbtn small{
    color:#333;
}
.processbox{
    background-color:#92ce73;
    border-color:#187c83;
    margin-top:-10px;
    border-top:none;
}

.cm{
    padding:5px;
    border-color:#187c83;
    border-width:3px;
    background-color:#fff;
    color:#92ce73;
}

.tile {
    height:250px;
    overflow:hidden;
}

a.anchor {
    display: block; 
    position: relative; 
    top: -50px; 
    visibility: hidden;
}

#urls {
}

#speciescmd {
    width:100%;
}




